.env
.env.*
!.env.example


__pycache__/
*.pyc
*.pyo
*.pyd


venv/
.venv/
env/
dist/
build/


.idea/
.vscode/
*.swp
*.swo



#just in case
.DS_Store
Thumbs.db

mariadb_data/
mongodb_data/
mysql_data/
mongo_data/
data/